
@{
    ViewData["Title"] = "Index";
}


<!-- Main Section -->
<main>







    <section id="contact-us ">
        <div class="contact-all">
            <div class="contact-page-info ">
                <div class="contact-bread-crump  mx-auto w-100">
                    <!-- Bread- Crump  -->
                    <a asp-action="index" asp-controller="contact" class="fw-bold ms-5 ">HOME</a>
                    <i class="fa-solid fa-chevron-right brend-crump-icon text text-light mx-2"></i>
                    <a asp-controller="contact" asp-action="index" class="fw-bold ">CONTACT US</a>
                    <!--End of Bread- Crump  -->
                    <!-- Page Name     -->

                    <h1 class="fw-bold text text-light">CONTACT US</h1>
                    <!--End of Page Name  -->

                </div>
            </div>

            <div class="get-in-touch container ">
                <div class="title " data-aos="zoom-in  ">
                    <h5>STAY TUNED</h5>
                    <h2 class="lets-get-in-touch">LETS GET IN TOUCH</h2>
                </div>

                <div class="our-info  d-flex justify-content-between">

                    <div class="our-office " data-aos="zoom-in-up" data-aos-delay="200">
                        <i class="fa-solid fa-map-location-dot"></i>
                        <p class="fw-bold mt-3 ">OUR OFFICE</p>
                        <p class="address">Madiun East Java Indonesia</p>
                    </div>


                    <div class="our-contact" data-aos="zoom-in-up" data-aos-delay="300">
                        <i class="fa-solid fa-envelope"></i>
                        <p class="fw-bold mt-3">OUR CONTACT</p>
                        <p>info@arloji.com</p>
                    </div>


                    <div class="our-phone " data-aos="zoom-in-up" data-aos-delay="400">
                        <i class="fa-solid fa-phone"></i>
                        <p class="fw-bold mt-3">OUR TELEPHONE</p>
                        <p class="tel ">( +62 ) 123 456 789</p>

                    </div>
                </div>
            </div>


            <div class="contact-info container ">
                <div class="map w-100">
                    <iframe class="map-iframe" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d79468.454943309!2d-0.11886699999999999!3d51.506075!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604b900d26973%3A0x4291f3172409ea92!2slastminute.com%20London%20Eye!5e0!3m2!1sen!2sus!4v1680630266720!5m2!1sen!2sus" width="600" height="450" style="border:0;"
                            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
                <div class="forms  ">
                    <form class=" mx-auto row ">
                        <div class="group  col-lg-5">
                            <input type="text" required>
                            <label>First Name</label>
                        </div>
                        <div class="group col-lg-5">
                            <input type="text" required>
                            <label>Last Name</label>
                        </div>

                        <div class="group col-lg-5">
                            <input type="text" required>
                            <label>Email</label>
                        </div>
                        <div class="group col-lg-5">
                            <input type="text" required>
                            <label>Subject</label>
                        </div>
                        <div class=" form-group">
                            <label for="exampleFormControlTextarea1">Your Message</label>
                            <span class="bar"></span>
                            <textarea type="text " required rows="3"></textarea>
                        </div>
                        <button>SEND MESSAGE</button>
                    </form>
                </div>
            </div>
        </div>

    </section>
</main>
<!-- End of Main Section -->
<!-- End of Main Section -->
